/* BUTTONS */

.button{
    border: 1.5px solid rgb(106, 106, 106);
    padding: 0.7em 1.5em;
    background-color: rgb(242, 242, 242);
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: 1.1em;
}
.button:hover{
    background-color: rgb(228, 228, 228);
}


/* ---------------- CATALOG CONTROL --------------- */

.table-button{
    border: 1px solid rgb(167, 167, 167);
    padding: 0.2em 1em;
    background-color: rgb(248, 248, 248);
    transition: 0.1s;
    cursor: pointer;
    border-radius: 3px;
}
.table-button:hover{
    background-color: rgb(228, 228, 228);
}

/* .runD2:hover{
    background-color: #70ff4d;
    border: 1.5px solid #70ff4d;
} */

.remove-selected-data-button{
    background-color: rgb(242, 242, 242);
    font-size: 1.2em;
    padding: 0.3em 0.5em;
    transition: 0.2s;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0.15em;
}
.remove-selected-data-button:hover{
    background-color: rgb(228, 228, 228);
}

.clearall-button{
    padding: 0.6em 1.2em;
    border-radius: 4px;
    background-color: rgb(40, 40, 40);
    color: white;
    border:none;
    transition: 0.2s;
}
/* .clearall-button-2{
    padding: 0.4em 0.8em;
    border-radius: 4px;
    background-color: rgb(98, 98, 98);
    color: white;
    border:none;
    transition: 0.2s;
} */
.clearall-button:hover {
    background-color: black;
    cursor: pointer;
}
.clearall-link{
    text-decoration: underline;
    cursor: pointer;   
    transition: 0.3s;
}
.clearall-link:hover{
    color: rgb(128, 128, 128);
}

.clear-filter-button{
    background-color: rgb(242, 242, 242);
    padding: 0.4em;
    transition: 0.2s;
    border-radius: 4px;
    cursor: pointer;
    width: 2.5em;

}
.clear-filter-button:hover{
    background-color: rgb(228, 228, 228);
}


/* ---------------- EBSS --------------- */

/* Hide the default file input */
.hidden-file-input {
    display: none;
}

/* Custom styled button */
.custom-file-button {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #4aabff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    transition: 0.2s;
}
.custom-file-button:hover {
    background-color: #1391ff;
}
.custom-file-button:active {
    background-color: #3874a8;
    transform: translateY(1.5px);
}
.ebss-button{
    width: 10em;
}
.ebss-button:hover{
    width: 10em;
    background-color:#70ff4d;
}
.ebss-button:active{
    background-color: #67f144;   
}

.ebss-button:focus{
    outline: none !important;
}

.removeFile-button{
    cursor: pointer;
}
.removeFile-button:hover{
    color: red;
}
