/* COMMPONENTS CSS */

/* header */
/* HEADER CSS */

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1em 3em 0.2em 3em;
    background-color: rgb(219, 219, 219);
    width: 100%;
    z-index: 10;
  }
  
  .nav-list li {
    list-style-type: none;
  }
  
  .navlink {
    color: rgb(0, 0, 0);
    padding-right: 5em;
    list-style-type: none;
    font-weight: 600;
    font-size: 0.9em;
    transition: 0.2s;
  }
  
  .navlink:hover {
    color: rgb(98, 98, 98);
    text-decoration: none;
  }
  
  /* loader */
  .loader-D2 {
    height: 0em !important;
    position: fixed;
    top: 20em;
    left: 50%; 
    z-index: 1000;
  }
  