/* MAIN */

.page-wrapper {
  padding: 8em 15em 24em 15em; 
  width: 100%;
  overflow: hidden;
  font-size: 0.7em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* alert meassage */
.alert-message{
  z-index: 20;
  padding: 0.6em 1.8em;
  font-size: 0.7em;
  font-weight: 500;
  color: rgb(40, 40, 40) !important;
  border-radius: 5px;
  color: white;
  position: fixed;
  bottom: 22em;
  left: 1em;
}




 /* ------------------ CATALOG CONTROL ------------------ */

.filter-container {
  /* position: fixed; */
  /* top: 6em; */
  display: flex;
  gap: 1em;
  margin: 2em 1em 1em 0;
  font-size: 1.1em !important;
}

.scrollable-table-wrapper {
  /* width: 80% !important; width of table */
  max-height: calc(30em - 1em);
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: inset 0px -7px 20px -10px rgba(165, 165, 165, 0.5); /* Adjust values as needed */

}

.result-table {
  /* width: 100%;  */
  border-collapse: collapse;
  table-layout: fixed; 
}

.result-table thead {
  position: sticky;
  top: -0.1em;
  background-color: #eeeeee;
  z-index: 2;
}
.result-table thead tr th {
  cursor: pointer;
}

.result-table th,
.result-table td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-bottom: 1px solid #ddd; */
  width: 20%; 
}
.result-table td{
  padding: 5px;
}

.result-table tbody tr:hover {
  background-color: aliceblue !important;
  cursor: pointer;
}

.table-body {
  width: 100vh !important;
  /* max-height: calc(25em - 3.6em);  */
}
.table-body tr {
  height: 0.1em !important;
}

/* filter */

.select-box{
  border: 1px solid black;
  padding: 0.3em 0.5em;
  outline: none;
}

.seach-bar{
  padding: 0.3em 0.75em;
  width: 15em;
  border-radius: 12px;
  border: 1px solid black;
  outline: none;
}


/* selected data bodx/table */

.selected-data-box{
  position: fixed;
  bottom: 0;
  z-index: 5;
  background-color: rgb(248, 248, 248);
  padding: 1.9em 10em 2.9em 10em; 
  width: 100%;
  border-radius: 5px;
  font-size: 0.75em;
  box-shadow: 1px 1px 6px 1px rgba(16, 16, 16, 0.2);
  max-height: 19em;
  overflow: scroll;
}

.selected-data-table{
  padding: 10em 20em 6em 20em; 
  width: 100% !important;
}

.selected-data-table th,
.selected-data-table td {
  padding: 1px 12px;
}

.selected-data-table tbody tr:hover {
  background-color: #ECFFE8 !important;
  cursor: pointer;
}

/* selected data bodx/table */

.updated-data-box{
  background-color: rgb(244, 255, 242);
  padding: 2em 8em 2.5em 8em; 
  width: 100%;
  border-radius: 5px;
}

.updated-data-table{
  /* padding: 10em 20em 6em 20em;  */
  width: 100% !important;
}




/* ------------------ EBSS ------------------ */

.ebss-selectlist{
  width: 20em;
  height: 2.4em;
  margin: 0 0 0 0.5em;

}

.custom-checkbox {
  position: relative;
  width: 15px;
  height: 15px;
  appearance: none;
  background-color: white;
  border: 2px solid #ccc; 
  border-radius: 5px; 
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s, border-color 0.2s; 
  margin: 0 1em 0 0.5em;
}

.custom-checkbox:checked {
  background-color: black;
  border-color: black;    
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 3px;
  width: 8px;
  height: 5px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);
}

